{% extends 'courses/base.html' %}


{% block content %}

<div class="container">

    {% for object in object_list %}
    <div class="card" style="width:18rem;">
            <div class="card-body">
                <div class="card-header">{{object.membership_type}}</div>
                <p class="card-text">
                    <strong>Price : </strong>{{object.price}}<small>/month</small>
                </p>
                <h4>Included Courses</h4>    
                <ul class="list-group list-group-flush">
                    
                    {% for course in object.course_set.all %}
                        <li class="list-group-item">{{course.title}}</li>
                    {% endfor %}
                        
                </ul>
                
                {% if object.membership_type != 'Free' %}
                <form action="." method="POST">
                    {% csrf_token %}
                    
                    {% if object.membership_type != current_membership %}
                    <button>Select</button>
                    {% else %}
                    <small>This is your current membership</small>
                    {% endif %}
                    <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                </form>
                {% endif %}
                
            </div>
    </div>
    {% endfor %}

</div><!-- main container end-->



{% endblock content %}
    